body{
    min-width: 444px!important;
}

.min-vh-100{
    min-height: 100vh;
}
.bg-fe-8{
    background-color: rgba(255,255,255,0.8);
}
.adminlog input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    display: block;
    width: 95%;
    padding: 4px;
}
.btn-adminlog{
    width: auto !important;
    border-bottom: none !important;
    margin-top: 15px;
    background-color: #34a853 !important;
    padding: 10px 15px !important;
    margin-right: 16px;
    color: #fefefe;
    border-radius: 3px;
}
aside .sidebar{
    background-color: #343A40;
    height: 100%;
    width: 65px;
    position: fixed;
    padding-top: 95px;
    color: #fefefe;
    text-align: center;
    font-size: 16px;
    transition: width 0.2s ;
    z-index: 11;
}
aside .sidebar i{
    font-size: 25px;
}
#nav-content{
    display: none;
}
.max-width-aside{
    width: 300px !important;
    text-align: right!important;
    padding: 10px;
}
.admin-header{
    width: 100%;
    z-index: 111;
}
aside #nav-list{
    list-style: none;
    padding-right: 0;
}
aside #nav-list h6{
    margin-top: 5px;
    padding: 10px;
    transition: 0.4s;
}
aside #nav-list h6:hover {
    background-color: #3e454d;
}
aside .sub-list-element{
    list-style: none;
}
aside .sub-list-element a {
    color: #fefefe;
    display: block;
    padding: 10px 20px;
}
aside .sub-list-element li{
}
aside .sub-list-element a:hover{
    text-decoration: none;
    background-color: #343A40;
}
.content{
    padding: 80px 80px 80px 30px;
}
body{
    background-color: #f1f1f1;

}
@media (max-width:576px)  {
    aside .sidebar{
        padding-top: 100px;
    }
}
.admin-profile form div{
    margin-top: 10px;
}
#password-change{
    display: none;
}
#pic-change{
    display: none;
}
.report-list .row div{
    border:1px solid #222;
    padding: 7px;
}
@media (max-width: 576px) {
    .report-list{
        font-size: 12px;
    }
}
.report-list{
    font-size: 15px;
}
#nav-toggle{
    overflow-y: scroll;
}
.content .row{
    margin-top: 15px;
}
.content textarea{
    resize: none;
    height: 150px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 3px 1px #ccc;
    padding: 5px;
}
.content input[type=text], .content input[type=number], .content select{
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 3px 1px #ccc;
    padding: 5px;
}
.admin-header {
  width: 100%;
  z-index: 111;
  background-color: #e5e5e5;
}
.pointer {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
::-webkit-scrollbar-track {
}
button:focus{
  outline: none;
}
aside ul{
  padding: 0;
}
aside .card{
  margin-top: 15px;
}
aside .card .show{
  background-color: #3e454d;
}
.min-h-admin-box{
  min-height: 154px;
}
.font-icon-admin-box{
  font-size: 40px;
}
.font-30{
  font-size: 30px;
}
.container-admin{
  margin: 0 25px;
}
.admin-header .fa-power-off{
  padding: 7px;
  border-radius: 50%;
}
.container-admin .popular-posts ul li:nth-child(odd){
  background-color: #E0E0E0;
}
.container-admin .popular-posts ul li a{
  width: 80%;
}
.admin-info-box .font-icon-admin-box{
  transition: 0.3s;
}

.admin-info-box:hover .font-icon-admin-box{
  transform: scale(1.3);
}
.admin-box{
  background-color: #fefefe;
  margin-top: 35px;
  box-shadow: 0 0 3px 1px #ccc;

}
.admin-box .admin-box-header{
  padding: 20px;
  background-color: #e0e0e0;
}
.admin-box .admin-box-header h5{
  color: #6c757d;
}
.admin-box .admin-box-body{
  padding: 20px;
}
.no-resize{
  resize: none;
}
.input-group-text.whatsapp{
  background-color: #2BD34A;
  color: #fefefe;
}
.input-group-text.telegram{
  background-color: #1197D2;
  color: #fefefe;
}
.input-group-text.instagram{
  background-color: #D4357B;
  color: #fefefe;
}
.input-group-text.twitter{
  background-color: #1C9DEB;
  color: #fefefe;
}
.input-group.social-media input::placeholder{
  text-align: right;

}
.input-group.social-media input{
  padding: 0 10px;
}
#sortable1, #sortable2 {
  width: 142px;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
}
#sortable1 li {
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 1.2em;
  cursor:move;
}
.bg-dark-red{
  background: #640000;
}
.bg-dark-green{
  background: #006629;
}
.admin-square{
  height: 70px;
  width: 70px;
  background-color: #4e555b;
}
.moving-section p{
  cursor: no-drop;
}
table.table a{
  color: #033466;
}
.right-auto{
  right: auto!important;
}
.table-min-width{
  min-width: 500px;
}
.overflow-x-scroll{
  overflow-x: scroll;
}
.min-h-admin-body{
  min-height: 400px;
}
.filter-option-inner-inner{
  text-align: right;
}
.ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners{
  height: 300px;
}
@media (min-width:720px){
  .w-md-50{
    width: 50% !important;
  }
}
.placeholder-rtl::placeholder{
  direction: rtl;
}
.admin-body{
  min-width: 550px!important;

}
@media (max-width: 550px) {
  .admin-body{
    overflow-x: scroll;
  }
}
.admin-body .admin-header{
  min-width: 550px;
}
.w-slide-preview{
  width: 100px ;
}
.right-50{
  right: 50px!important;
}
.md-form label.active{
  transform: translate(61px,-14px) scale(0.8);
}
.w-90{
  width: 90%;
}
.transform-none{
  transform: translate(0,0) !important;
}
.circle{
  border-radius: 50%!important;
}
.comment-number small{
  padding: 3px 8px 1px;
}
.comment-number .fa-comments{
  font-size: 24px;
}
