.subjects a{
    border-radius: 10px;
    box-shadow: 0 0 3px 3px #ccc;
    padding: 10px;
    color: #222;
    margin-right: 15px;
}
.top-posts img{
    border-radius: 5px;
    box-shadow: 0 0 4px 1px #ccc;
}
.img-title{
    top: -534%;
    padding: 160px 0 0 0;
    color: #fefefe;
    background-color: rgba(0,0,0,0.3);
    height: 300px;
    width: 100%;
}
.img-title h5{
    padding: 5px;
    margin-bottom: 0;
}
.img-title p{
    padding: 15px;
    font-weight: bolder;

}
.top-posts .img-title .text-cover{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    min-height: 160px;

}
.main-blog-body .img-limit{
    height: 250px;
    overflow: hidden;
}
.demo-blog{
    border-radius: 15px 3px 15px 15px;
    box-shadow: 0 0 7px 1px #ccc;
    padding: 20px;
}

.demo-blog .blog-info .subject a{
    box-shadow: 0 0 5px 1px #ccc;
}
.img-side-limit{
    height: 70px;
}
.mt-main-blog-side{
    margin-top: 60px;
}
.single-blog{
    box-shadow: 0 0 3px 1px #ccc;
    padding: 15px;
    margin-top: 55px;
    border-radius: 5px;

}
.single-blog article{
    line-height: 50px;
    text-align: justify;
    text-align-last: right;
}
@media (min-width: 1200px){
  .single-blog article{
    margin-left: 100px;
  }
  .ml-100{
    margin-left: 100px;
  }
}

.single-blog .social-module , .single-blog .share a{
    color: #2c0419;
    font-size: 20px;
}
.single-blog .share a{
    margin-left: 10px;
    transition: 0.3s;
}
.single-blog .share a:hover{
    color: #222;
}
.blog-tags a{
    margin-right: 12px;
    padding: 8px;
    color: #2c0419;
}
.comment-box .form-name , .comment-box .form-email , .comment-box textarea{
    border: none;
    box-shadow: 0 0 3px 1px #ccc;
    border-radius: 15px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    resize: none;
    outline: none;
}
.comment-box .form-email::placeholder{
    direction: rtl;
}
.comment-box ul{
    list-style: none;
    margin-top: 25px;

}
.comment-container{
    margin: 7px 30px;
}
.comment-body p{
    line-height: 30px;
    text-align-last: right;
    text-align: justify;
}
@media (max-width: 525px) {
  .admin-reply{
    padding-right: 0;
  }
  .comment-container{
    margin: 7px 0;
    padding-right: 0;
  }
}

.scale-parent:hover .scale{
  transform: scale(1.2);
}
.scale-parent{
  overflow: hidden;
}
.scale-parent .scale{
  transition: 0.3s;
}
.admin-control-box{
  background-color: #343A40;
}
.admin-control-box a{
  color: white;
}
