@font-face {
    font-family: "vazir";

    src: url('../fonts/vazir/vazir.eot?#iefix') format('embedded-opentype'),
    url('../fonts/vazir/vazir.woff') format('woff'),
    url('../fonts/vazir/vazir.ttf') format('truetype');
    font-weight: normal;
}

body{
    font-family: "vazir";
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

.index-banner{
    height: 500px;

}
.font-20{
    font-size: 20px;
}
.transform-right{
    margin-right: 50%;
    transform: translate(50%);
}
.border-radius{
    border-radius: 5px;
}
.site-section{
    margin: 40px 0 60px 0;
    padding: 10px;

}
.large-border{
    height: 300px;
    width: 390px;
    position: absolute;
    margin-right: 50%;
    transform: translateX(50%);
    top: 30px;
    right: 68px;
    border: 10px solid darkgoldenrod;
    z-index: -1;
}
.team-info img{
    z-index: 22;
}
.index-projects img{
    margin-top: 15px;
}
.project-hover{
    background-color: rgba(0,0,0,0.3);
    bottom: -16px;
    margin-top: 15px;
    width: 100%;
    height: 95%;
    margin-bottom: 15px;
    border-radius: 5px;
    opacity: 0;
    transition: 0.4s;
}
.project-item:hover .project-hover{
    opacity: 1;
}
.index-projects .fa-search-plus{
    font-size: 35px;
    color: #d1d1d1;
}
.contents .owl-nav{
    position: absolute;
    top: -60px;
    font-size: 34px;
    font-weight: bolder;
    color: #fefefe;
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}
.owl-nav span{
    background-color: rgba(0,0,0,0.3);
    padding: 0px 24px;
    border-radius:10px;

}
.owl-nav button{
    outline: none;
}
.border-circle{
    border-radius: 50%;
}
.team-member-info{
    background-color:rgba(0,0,0,0);
    border-radius: 5px;
    padding: 15px 15px 0 15px;
}
.member-social-media div{
    text-align:center;
    padding: 10px 0;
    font-size: 25px;
    line-height: 100%;
}
.right-bottom-radius{
    border-radius: 0 0 5px 0;
}
.left-bottom-radius{
    border-radius: 0 0 0 5px;
}
.line-height-40{
    line-height: 40px;
}
footer{
    background-color: #D2D3D5;
}
footer ul a{
    color: #222;
}
.footer-social-media .row a{
    color: #222222;
}
.footer-social-media .row i:hover{
    transform: scale(1.3);
}
.footer-social-media .row i{
    font-size: 22px;
    border-radius: 50%;
    padding: 7px;
    transition: 0.4s;
}

.font-15{
  font-size: 15px;
}
.ltr{
  direction: ltr;
  text-align: left;
}
.ltr::placeholder{
  text-align: right;
}
.owl-nav button.disabled span{
  background: #ededed;
}
.bg-light-gray{
  background-color: #f6f6f6;
}


@media (max-width: 992px) {
  .contents .owl-nav{
    justify-content: space-around!important;
  }
}



.right-50{
  right: 50px!important;
}
.md-form label.active{
  transform: translate(86px,-14px) scale(0.8);
}
.md-form .comment-input.active{
  transform: translate(196px,-14px) scale(0.8);

}
.w-90{
  width: 90%;
}
.transform-none{
  transform: translate(0,0) !important;
}
.circle{
  border-radius: 50%!important;
}
.comment-number small{
  padding: 3px 8px 1px;
}
.comment-number .fa-comments{
  font-size: 24px;
}
